@media (max-width: 991px) {
  .sectionLearning {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .tab {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
    padding: 15px 0;
    box-shadow: 0 2px 5px #43434314;
  }

  .tab a {
    text-decoration: none;
    color: rgb(255, 157, 157);
  }
  .contentLearning {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    width: 100%;
  }
}
